In [35]:
import pandas as pd

In [36]:
cd C:\Users\hp\Downloads

C:\Users\hp\Downloads

In [37]:
data=pd.read_csv(r"ML Linear Regression Home Price Prediction & Analysis Project  Resource16932049360.csv")

In [38]:
data

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,03/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,04/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

### Q. Print all the column names

In [39]:
data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

### Q.  Describe the data

In [40]:
data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,34857.000000,2.724700e+04,34856.000000,34856.000000,26640.000000,26631.000000,26129.000000,23047.000000,13742.00000,15551.000000,26881.000000,26881.000000,34854.000000
mean,3.031012,1.050173e+06,11.184929,3116.062859,3.084647,1.624798,1.728845,593.598993,160.25640,1965.289885,-37.810634,145.001851,7572.888306
std,0.969933,6.414671e+05,6.788892,109.023903,0.980690,0.724212,1.010771,3398.841946,401.26706,37.328178,0.090279,0.120169,4428.090313
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1196.000000,-38.190430,144.423790,83.000000
25%,2.000000,6.350000e+05,6.400000,3051.000000,2.000000,1.000000,1.000000,224.000000,102.00000,1940.000000,-37.862950,144.933500,4385.000000
50%,3.000000,8.700000e+05,10.300000,3103.000000,3.000000,2.000000,2.000000,521.000000,136.00000,1970.000000,-37.807600,145.007800,6763.000000
75%,4.000000,1.295000e+06,14.000000,3156.000000,4.000000,2.000000,2.000000,670.000000,188.00000,2000.000000,-37.754100,145.071900,10412.000000
max,16.000000,1.120000e+07,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,44515.00000,2106.000000,-37.390200,145.526350,21650.000000

### Q. Drop address, date, postcode,YearBuilt, lattitude, longtitude columns

In [41]:
data.drop(["Address","Date","Postcode","YearBuilt","Lattitude","Longtitude"],axis=1,inplace=True)

### Q. Find the count of null value in each column

In [42]:
data.isnull().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        3
dtype: int64

### Q. Fill the null value of Propertycount, Distance, Bedroom2, Bathroom, Car with 0

In [43]:
data[['Propertycount', 'Distance', 'Bedroom2', 'Bathroom', 'Car']]=data[['Propertycount', 'Distance', 'Bedroom2', 'Bathroom', 'Car']].fillna(0)

### Q. Fill Null value of Landsize and BuildingArea columns with mean

In [44]:
data[["Landsize","BuildingArea"]]=data[["Landsize","BuildingArea"]].fillna(data.Landsize.mean())

In [45]:
data.isnull().sum()

Suburb              0
Rooms               0
Type                0
Price            7610
Method              0
SellerG             0
Distance            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
CouncilArea         3
Regionname          3
Propertycount       0
dtype: int64

In [46]:
data.dropna(inplace=True)

In [47]:
data.shape

(27244, 15)

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27244 entries, 1 to 34856
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         27244 non-null  object
 1   Rooms          27244 non-null  int64
 2   Type           27244 non-null  object
 3   Price          27244 non-null  float64
 4   Method         27244 non-null  object
 5   SellerG        27244 non-null  object
 6   Distance       27244 non-null  float64
 7   Bedroom2       27244 non-null  float64
 8   Bathroom       27244 non-null  float64
 9   Car            27244 non-null  float64
 10  Landsize       27244 non-null  float64
 11  BuildingArea   27244 non-null  float64
 12  CouncilArea    27244 non-null  object
 13  Regionname     27244 non-null  object
 14  Propertycount  27244 non-null  float64
dtypes: float64(8), int64(1), object(6)
memory usage: 3.3+ MB

### Q. Find the unique value in method column

In [49]:
data["Method"].unique()

array(['S', 'SP', 'PI', 'VB', 'SA'], dtype=object)

### Q. Create a dummy data for categorical data

In [50]:
data['SellerG'].unique()

array(['Biggin', 'Nelson', 'Jellis', 'Dingle', 'Purplebricks', 'Greg',
       'LITTLE', 'Collins', 'Kay', 'Beller', 'Marshall', 'hockingstuart',
       'Brad', 'Maddison', 'Barry', 'Airport', 'Considine', 'Rendina',
       'Ray', 'Propertyau', 'McDonald', 'Frank', 'Prof.', 'Harcourts',
       'Thomson', 'Buxton', 'RT', "Sotheby's", 'Cayzer', 'Chisholm',
       'Brace', 'Miles', 'Holland', 'McGrath', 'Love', 'Thomas', 'Barlow',
       'Sweeney', 'Village', 'Jas', 'Williams', 'Gunn&Co', 'Burnham',
       'Compton', 'FN', 'Hunter', 'Raine&Horne', 'Noel', 'Hodges', 'Gary',
       'Fletchers', 'Woodards', 'Raine', 'Alexkarbon', 'Walshe', 'Weda',
       'Stockdale', 'Tim', 'AIME', 'Moonee', 'HAR', 'Edward', 'Philip',
       'RW', 'North', 'MICM', 'Ascend', 'Christopher', 'Morrison',
       'Mandy', 'R&H', 'Fletchers/One', 'Lindellas', 'Appleby', 'Assisi',
       'One', 'Owen', 'Parkes', 'C21', "O'Brien", 'Bayside', 'Paul',
       'hockingstuart/Buxton', 'First', 'Matthew', 'Melbourne',
       'Anderson', 'Nick', 'Allens', 'Bells', 'Trimson', 'Douglas',
       'Batty', 'GL', 'YPA', "Tiernan's", 'J', 'Rodney', 'Joseph',
       'Harrington', 'Galldon', 'Chambers', 'Peter', 'Grantham',
       'hockingstuart/Advantage', 'Garvey', "O'Donoghues", 'Hamilton',
       'Bekdon', 'Ross', 'Weast', 'Century', 'Kelly', 'Property',
       "Private/Tiernan's", 'Australian', 'Bustin', "Abercromby's",
       'Castran', 'iTRAK', 'Del', 'Nicholson', 'JMRE', 'ASL', 'Re', 'RE',
       'Ham', 'Darren', 'Vic', 'Scott', 'Pride', 'Morleys', 'Wilson',
       'Buxton/Advantage', 'Whiting', 'Pagan', 'Joe', 'Red', 'Caine',
       'Naison', 'Sweeney/Advantage', 'Nguyen', 'Domain', 'Eview',
       'Jason', 'Professionals', "D'Aprano", 'Charlton', 'CASTRAN',
       'Wood', 'Haughton', 'William', 'Coventry', 'Buckingham',
       'Nardella', 'Reach', 'Walsh', 'Karen', 'LJ', 'Direct',
       'Fletchers/Fletchers', 'Besser', 'Johnston', 'Redina', 'Clairmont',
       'Changing', 'Lucas', 'Elite', 'Buxton/Find', 'W.B.', 'Leased',
       'Win', 'New', 'Geoff', 'hockingstuart/Barry', 'Blue', 'Steveway',
       'Dixon', 'Parkinson', 'VICPROP', 'Meadows', 'Allan', 'S&L',
       'Crane', 'Calder', 'Homes', 'Zahn', 'Mason', 'David', 'Luxe',
       'Prowse', 'Ken', 'iOne', 'hockingstuart/Village', 'Iconek',
       'Luxton', 'Hooper', 'Oak', 'White', 'Weston', 'Reed', 'Oriental',
       'Craig', 'Max', 'Rosin', 'Steller', 'Real', 'Hall', 'Icon',
       'buyMyplace', 'Collings', 'WHITEFOX', 'Metro', '@Realty',
       'Hoskins', 'Gardiner', 'McLennan', 'Triwest', 'PRDNationwide',
       'Only', 'Leyton', 'Obrien', 'Maitland', 'Reliance', 'Rounds',
       'Millership', 'iSell', 'L', 'Ash', 'Jim', 'Ace', 'Flannagan',
       'JRW', 'Carter', 'M.J', 'iProperty', 'Hayeswinckle', 'Schroeder',
       'iHomes', 'VICProp', 'REMAX', 'Space', 'Victory', 'Aumeca',
       'Smart', 'Mindacom', 'Ryder', 'Asset', 'LLC', 'Sell', 'Mitchell',
       'U', 'Nicholas', 'Keatings', 'Aquire', 'Conquest', 'Rombotis',
       'Prime', 'Donovan', 'Community', 'Free', 'Veitch', 'Peake',
       'Ristic', 'Upper', 'Daniel', 'Xynergy', 'VicHomes', 'Westside',
       'Leeburn', 'TRUE', 'Leading', 'Bullen', 'Better', 'Langwell',
       'Kaye', 'Nicholls', 'Bowman', 'Boutique', 'Just', 'Home',
       'McNaughton', 'Black', 'The', 'Open', 'Darras', 'Roger', 'Follett',
       'Le', 'McEwing', 'Sandhurst', 'Avion', 'Boran',
       'hockingstuart/hockingstuart', 'Area', 'MJ', 'Eric', 'SN', 'P',
       'PRD', 'Bombay', 'Quinta', 'T', 'Rexhepi', 'Point', 'LJH', 'Munn',
       'Justin', 'Blackbird', 'Sweeney/Burnham', 'H', 'Branon', 'Alex',
       'Benchmark', 'Gellibrand', 'hockingstuart/Harcourts', 'Charter',
       'Surreal', 'Upside', 'OBrien', 'Meallin', 'JY', 'Mark', 'For',
       'Leaders', 'Shape', 'McGrath/Langwell', 'Benlor', 'Burns',
       'K.R.Peters', 'Buxton/Buxton', 'Buxton/Marshall', 'CarlinSmith',
       'hockingstuart/Sweeney', 'People', 'hockingstuart/Biggin', 'Mega',
       'Skad', 'Wyndham', 'Create', 'Janice', 'G&H', 'Commercial', 'PSP',
       'Unity', 'hockingstuart/Marshall', 'McGrath/First', 'Spencer',
       'Sanctuary'], dtype=object)

In [51]:
data['CouncilArea'].unique()

array(['Yarra City Council', 'Moonee Valley City Council',
       'Port Phillip City Council', 'Darebin City Council',
       'Hobsons Bay City Council', 'Stonnington City Council',
       'Boroondara City Council', 'Monash City Council',
       'Glen Eira City Council', 'Whitehorse City Council',
       'Maribyrnong City Council', 'Bayside City Council',
       'Moreland City Council', 'Manningham City Council',
       'Melbourne City Council', 'Banyule City Council',
       'Brimbank City Council', 'Kingston City Council',
       'Hume City Council', 'Knox City Council', 'Maroondah City Council',
       'Casey City Council', 'Melton City Council',
       'Greater Dandenong City Council', 'Nillumbik Shire Council',
       'Whittlesea City Council', 'Frankston City Council',
       'Macedon Ranges Shire Council', 'Yarra Ranges Shire Council',
       'Wyndham City Council', 'Cardinia Shire Council',
       'Moorabool Shire Council', 'Mitchell Shire Council'], dtype=object)

In [52]:
data['Regionname'].unique()

array(['Northern Metropolitan', 'Western Metropolitan',
       'Southern Metropolitan', 'Eastern Metropolitan',
       'South-Eastern Metropolitan', 'Eastern Victoria',
       'Northern Victoria', 'Western Victoria'], dtype=object)

In [53]:
data = pd.get_dummies(data, drop_first=True)

In [54]:
data.shape

(27244, 745)

In [55]:
data.head()

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
1,2,1480000.0,2.5,2.0,1.0,1.0,202.0,593.598993,4019.0,False,...,False,True,False,False,True,False,False,False,False,False
2,2,1035000.0,2.5,2.0,1.0,0.0,156.0,79.000000,4019.0,False,...,False,True,False,False,True,False,False,False,False,False
4,3,1465000.0,2.5,3.0,2.0,0.0,134.0,150.000000,4019.0,False,...,False,True,False,False,True,False,False,False,False,False
5,3,850000.0,2.5,3.0,2.0,1.0,94.0,593.598993,4019.0,False,...,False,True,False,False,True,False,False,False,False,False
6,4,1600000.0,2.5,3.0,1.0,2.0,120.0,142.000000,4019.0,False,...,False,True,False,False,True,False,False,False,False,False

### Q. Create the target data and feature data where target data is price

In [56]:
x=data.drop(["Price"],axis=1)

In [57]:
y=data[["Price"]]

### Q. Create a linear regression model for target and feature data

In [58]:
from sklearn.model_selection import train_test_split

In [59]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.8,random_state=0)

In [60]:
from sklearn.linear_model import LinearRegression

In [61]:
model=LinearRegression()

In [62]:
data=model.fit(x_train,y_train)

### Q. Check if the model is overfitting or underfitting or it is accurate

In [63]:
model.score(x_train,y_train)

0.6852386263832466

In [64]:
model.score(x_test,y_test)

0.6467626329077514

### Q.  If the model is overfitting then apply ridge and lasso regression algorithms

In [77]:
from sklearn.linear_model import Ridge,Lasso

In [79]:
ridge_model= Ridge(alpha=50, max_iter=100)

In [80]:
ridge_model.fit(x_train,y_train)

Ridge(alpha=50, max_iter=100)

In [81]:
ridge_model.score(x_train, y_train)

0.669395496738054

In [83]:
ridge_model.score(x_test, y_test)

0.6440482570736712

In [84]:
lasso_model = Lasso(alpha=50, max_iter=100)

In [85]:
lasso_model.fit(x_train,y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.477e+15, tolerance: 8.993e+11
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=50, max_iter=100)

In [86]:
lasso_model.score(x_train, y_train)

0.6812010863868274

In [87]:
lasso_model.score(x_test, y_test)

0.6489961453752404